---
---

@import "{{ site.theme }}";

// for midnight theme -------vvv
#header, #title p, #title h1, #title hr {
        display: none;
}

.credits.left{
      position: fixed;
        bottom: 0;
          left: 0;
}

.credits.right{
      position: fixed;
        bottom: 0;
         right: 0;
}
// for midnight theme -------^^^

// for slate theme ----------vvv
#header_wrap, #footer_wrap {
       display: none;
}
// for slate theme ----------^^^

.cclicense {
      position: fixed;
        bottom: 0;
         width: 100%;
    text-align: center;
}

