---
---

@import "{{ site.theme }}";

// for midnight theme -------vvv
#header, #title p, #title h1, #title hr {
        display: none;
}

.credits.left{
      position: fixed;
        bottom: 0;
          left: 0;
}

.credits.right{
      position: fixed;
        bottom: 0;
         right: 0;
}
// for midnight theme -------^^^

// for slate theme ----------vvv
#header_wrap, #footer_wrap {
       display: none;
}
#main_content_wrap {
         color: #AAA;
    background: initial;
    border-top: initial;
 border-bottom: initial;
}
#main_content h1 {
         color: inherit;
}
#main_content .inner {
  max-width: 70%;
}


#navback {
  content: '<A HREF="/">Main page</A>'
}


#cccontent img {
        border: 0;
       padding: 0;
        margin: 0;
    box-shadow: none;
vertical-align: middle;
}
// for slate theme ----------^^^

.cclicense {
      position: fixed;
        bottom: 0;
         width: 100%;
    text-align: center;
}

