---
---

@import "{{ site.theme }}";

#header {
        display: none;
}
.credits.left{
      position: fixed;
        bottom: 0;
          left: 0;
}

.credits.right{
      position: fixed;
        bottom: 0;
         right: 0;
}
